.home {
  position: relative;
  /* Ensure proper positioning for absolute elements */
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.homepage-image {
  width: 100%;
  /* Make sure the image fills the container horizontally */
  height: 150px;
  /* Set the desired height */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  margin-bottom: 20px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Styles for the slider */
.slick-slider {
  width: 100%;
  margin-bottom: 50px;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

/* Text container styles */
.text-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.title {
  color: rgb(134, 31, 65);
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px #ffffff;
}

.title-2 {
  color: rgb(134, 31, 65);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px #ffffff;
}



/* Offer section styles */
.offer-section {
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.offer-section h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Icon container styles */
.icon-img-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 60px;
}

.icon-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-img:last-child {
  margin-bottom: 10px;
}

/* Icon text styles */
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.icon-text:last-child {
  margin-bottom: 10px;
}

.icon-texts-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-texts-section .icon-text {
  width: 200px;
  /* Adjust width as needed */
}

.icon-texts-section .icon-text p:first-child {
  font-weight: bold;
  /* Make the first paragraph bold */
}