.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.home-title {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
}

.title-fragment {
    margin-bottom: 0;
}

.home-description-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    padding-top: 0;
    width: 80vh;
    margin: 0 auto;
}

.home-buttons-container {
    display: flex;
    padding: 1rem;
    gap: 2rem;
}