.student-page {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.student-text {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em; /* Adjust the font size as needed */
    font-weight: 700; /* Use a thicker font weight */
    color: maroon;
    opacity: 0; /* Initially hide the content */
    animation: fadeIn 1s ease forwards; /* Apply the fadeIn animation */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* Fade in to full opacity */
    }
}

